* {
  margin: 0;
  padding: 0;
}

:root {
  --large: 36px;
}

ul {
  list-style: none;
}

body {
  height: 100%;
  overflow: hidden;
}

.score {
  text-align: center;
  font-size: var(--large);
  margin-bottom: 2rem;
}

.playground ul {
  border: 1px solid #333;
  width: 250px;
  margin: 0 auto;
}

.playground ul li {
  width: 100%;
  height: 25px;
}

.playground ul li ul {
  display: flex;
}

.playground ul li ul li {
  width: 25px;
  height: 25px;
  outline: 1px solid #ccc;
}

.tree {
  background: #67c23a;
}

.zee {
  background: #e6a23c;
}

.square {
  background: #ff92d7;
}

.bar {
  background: salmon;
}

.elLeft {
  background: #d690f4;
}

.elRight {
  background: #16a085;
}
