* {
  margin: 0;
  padding: 0;
}

:root {
  --large: 36px;
}

ul {
  list-style: none;
}

body {
  height: 100%;
  overflow: hidden;
  background-color: rgb(255, 212, 219);
}

.game-text {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  left: 0;
  top: 0;
  color: #fff;
  font-size: 50px;
}

.game-text > button {
  padding: 0.5rem 1rem;
  color: #fff;
  background-color: pink;
  border: none;
  cursor: pointer;
}
.score {
  text-align: center;
  font-size: var(--large);
  margin-bottom: 2rem;
}

.playground ul {
  background-color: white;
  /* border: 1px solid #333; */
  width: 370px;
  margin: 0 auto;
}

.playground ul li {
  width: 100%;
  height: 25px;
}

.playground ul li ul {
  display: flex;
}

.playground ul li ul li {
  width: 25px;
  height: 25px;
  outline: 1px solid #ccc;
}

.tree {
  background: #67c23a;
}

.mieum {
  background: #77b7ff;
}

.bar {
  background: rgb(255, 129, 66);
}

.digeut {
  background: #86cc6d;
}

.nieun {
  background: #f9e168;
}

.giyeok {
  background: rgb(255, 153, 184);
}
